body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    line-height: 2;
    color: #40514E;
}

h1 {
    font-size: 5.56rem;
    margin-top: 50px;
    margin-bottom: 0px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr {
    border-style: dotted none none;
    border-color: rgba(53, 51, 51, 0.87);
    border-width: 5px;
    width: 5%;
}

.top {
    padding-top: 100px;
    margin: 20px;
    background-color: #EAF6F6;
    position: relative;
}

.middle {

  margin: 100px 0px ;
}

.bottom {
    background-color: #66BFBF;
    height: 100px;
 padding: 40px;
 
}

.cl {
    margin-left: 20px;
    position: absolute;
    right: 200px;
}
.bottom-cl{
    position: absolute;
    left: 300px;
    bottom: 320px;
}

.top-cl{
    position: absolute;
    right: 300px;
    top: 150px;
}

.footer-link{
    color: #11999E;
    line-height: 2;
    padding: 0px 10px;
    text-decoration: none;
}
.footer-link:hover{
    color: #EAF6F6;
}

.intro{
    font-weight: normal;
    margin-top: 0px;
}

.profile{
    width: 60%;
    margin: 100px auto 100px auto;
    line-height: 1;

}

.skills+{
    margin: 100px auto 100px auto;
}

 .skill-row{
     width: 60%;
     margin: 100px auto 100px auto;
     text-align: left;
     line-height: 2;
 }

 .me-img{
     width: 40%;
 }

.code-img{
    width: 25%;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

.swim-img{
    width: 25%;
    float: right;
}



.football-img{
    width: 25%;
    float: right;
}

.contact-me{
    margin-top: 100px;
}

.btn {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    height: 0;
    line-height: 0;
    color: #FFFFFF;
    font-family: Verdana;
    width: 157px;
    font-size: 20px;
    font-weight: 100;
    padding: 27px;
    background-color: #11999E;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .copyright{
     color: #EAF6F6;
     font-size: 12px;
     padding: 30px;
 }